[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
toml = "*"
social-auth-app-django = "*"
django-bulma-form-templates = "*"
django-webpack-loader = "*"
pillow = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
django-click = "*"
google-api-python-client = "*"
setuptools = "*"
python-twitch-client = {git = "https://github.com/tsifrer/python-twitch-client"}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"
