{% extends "base.html" %}

{% load i18n cache %}

{% block js %}
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
{% endblock %}

{% block content %}
    <section class="hero is-medium is-primary">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    POGSCIENCE
                </p>
                <p class="subtitle">
                    le pog kilébi1 et qui n'arrache pas du tout les yeux avec cette
                    couleur agressive sérieux faudra vraiment reprendre ça avec le
                    graphiste en plus c'est la rentrée étou là y'a moyen de faire
                    des trucs ça va être bien bref<br/>
                    en plus on pourra mettre une sorte de réseau avec tous les
                    streamers affiché dynamiquement ça va être beau allez là<br/>
                    vous connaissez pogscience ?
                </p>
            </div>
        </div>
    </section>

    <section class="section right-now">
        <div class="container"
             id="js-home-live-and-upcoming"
             v-scope
             data-content-api="{% url "streamers:api-live-upcoming" %}"
             data-calendar-url="{% url "streamers:calendar" %}"
        >
            {% verbatim %}
            <div class="is-loading" v-if="store.loading">
                <div class="is-loader"></div>
                <div>Chargement…</div>
            </div>

            <div v-else>
                <header>

                    <!-- TITLE AND SPECTATORS COUNT -->

                    <div class="titles" v-if="store.live.length == 0">
                        <h2 class="title">Personne n'est en live actuellement !</h2>
                        <p class="subtitle">Mais restez à l'écoute, car de nouveaux streams approchent…</p>
                    </div>
                    <div class="titles" v-else-if="store.live.length == 1">
                        <h2 class="title">{{ store.live[0].name }} est en live !</h2>
                        <p class="subtitle" v-if="store.total_spectators">
                            <template v-if="store.total_spectators > 1">
                                Rejoignez {{ store.total_spectators }} spectateurs sur {{ store.live[0].live_game_name
                                }} !
                            </template>
                            <template v-else>
                                Rejoignez {{ store.total_spectators }} spectateur sur {{ store.live[0].live_game_name }}
                                !
                            </template>
                        </p>
                        <p class="subtitle" v-else>
                            Rejoignez plein de gens biens sur {{ store.live[0].live_game_name }}
                        </p>
                    </div>

                    <div class="titles" v-else-if="store.live.length == 2">
                        <h2 class="title">{{ store.live[0].name }} et {{ store.live[1].name }} sont en live !</h2>
                        <p class="subtitle" v-if="store.total_spectators">
                            <template v-if="store.total_spectators > 1">
                                Rejoignez {{ store.total_spectators }} spectateurs !
                            </template>
                            <template v-else>
                                Rejoignez {{ store.total_spectators }} spectateur !
                            </template>
                        </p>
                        <p class="subtitle" v-else>
                            Rejoignez plein de gens biens sur {{ store.live[0].live_game_name }}
                        </p>
                    </div>

                    <div class="titles" v-else>
                        <h2 class="title">{{ store.live.length }} streamers sont en live !</h2>
                        <p class="subtitle" v-if="store.total_spectators">
                            <template v-if="store.total_spectators > 1">
                                Rejoignez {{ store.total_spectators }} spectateurs !
                            </template>
                            <template v-else>
                                Rejoignez {{ store.total_spectators }} spectateur !
                            </template>
                        </p>
                        <p class="subtitle" v-else>
                            Rejoignez plein de gens biens sur {{ store.live[0].live_game_name }}
                        </p>
                    </div>

                    <!-- ASIDE LINKS & TIMEZONE -->

                    <aside>
                        <p>
                            <a :href="store.calendarURL" class="button is-outlined is-white">
                                <span>Calendrier des streams</span>
                                <span class="icon is-small">
                                    <span class="fas fa-angle-right"></span>
                                </span>
                            </a>
                        </p>
                        <p class="is-timezone">Heure de Paris</p> <!-- TODO Use visitor timezone -->
                    </aside>
                </header>

                <!-- LIVE STREAMS -->

                <article class="box live-stream is-solo"
                         v-for="streamer in store.live"
                         :key="streamer.name"
                >
                    <figure>
                        <a :href="streamer.twitch_url">
                            <img :src="streamer.profile_image" :alt="streamer.name"/>
                        </a>
                    </figure>

                    <a :href="streamer.twitch_url" class="stream-box-content">
                        <h3>{{ streamer.live_title }}</h3>
                        <div class="game">
                            <figure class="streamer-picture-mobile">
                                <img :src="streamer.profile_image" :alt="streamer.name"/>
                            </figure>
                            <span class="streamer-name">{{ streamer.name }}</span>
                            <span class="streamer-game" v-if="streamer.live_game_name">&centerdot;&nbsp;{{ streamer.live_game_name }}</span>
                        </div>

                        <div class="game" v-if="store.live.length != 1 && streamer.live_spectators > 1">{{
                            streamer.live_spectators }} spectateurs
                        </div>
                        <div class="game" v-else-if="store.live.length != 1 && streamer.live_spectators > 0">{{
                            streamer.live_spectators }} spectateur
                        </div>

                        <footer>
                            <time :datetime="new Date().toISOString()">
                                <span class="tag is-danger">EN DIRECT</span>
                                <span v-if="streamer.live_end">jusqu'à {{ shortTime(streamer.live_end) }}</span>
                            </time>
                            <span class="time-elapsed"
                                  v-if="streamer.live_duration">{{ since(streamer.live_duration) }}</span>
                            <button class="button is-shiny is-hover-only is-streamer-gradient is-small" disabled
                                    data-tooltip="À venir…">
                                <span class="icon is-small"><span class="fas fa-bolt"></span></span>
                                <span>RAID</span>
                            </button>
                        </footer>
                    </a>

                    <div class="stream-box-preview"
                         :style="{'--streamer-colour-1': streamer.colours_hsl_css[0], '--streamer-colour-2': streamer.colours_hsl_css[1], '--streamer-color-text': streamerButtonTextColour(streamer)}">
                        <figure class="image is-16by9 is-fullwidth">
                            <img :src="(streamer.live_preview || streamer.background_image) + `#${Date.now()}`"
                                 alt="Aperçu du live"/>
                            <div class="buttons">
                                <div class="tooltip has-tooltip-top" data-tooltip="Prévisualiser le stream">
                                    <button class="button is-streamer-gradient is-medium"
                                            aria-label="Prévisualiser le stream"
                                            @click="showPreview(streamer)">
                                        <span class="icon"><span class="fas fa-tv"></span></span>
                                    </button>
                                </div>
                                <div class="tooltip has-tooltip-top" data-tooltip="À venir…">
                                    <button class="button is-shiny is-streamer-gradient is-medium"
                                            disabled
                                            aria-label="À venir…">
                                        <span class="icon"><span class="fas fa-bolt"></span></span>
                                        <span>RAID</span>
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                </article>

                <!-- STREAM PREVIEW MODAL -->

                <div class="modal" :class="{'is-active': store.preview_open}" v-if="store.preview_streamer">
                    <div class="modal-background" @click="hidePreview()"></div>
                    <div class="modal-content is-streamer is-full-color"
                         :style="{'--streamer-colour-1': store.preview_streamer.colours_hsl_css[0], '--streamer-colour-2': store.preview_streamer.colours_hsl_css[1]}">
                        <header>
                            <figure>
                                <a :href="store.preview_streamer.twitch_url">
                                    <img :src="store.preview_streamer.profile_image" alt="" />
                                </a>
                            </figure>
                            <h3>
                                <a :href="store.preview_streamer.twitch_url">{{ store.preview_streamer.name }}</a>
                            </h3>
                            <div class="tooltip has-tooltip-left" data-tooltip="À venir…">
                                <button class="button is-shiny has-streamer-color is-white is-medium"
                                        disabled
                                        aria-label="À venir…">
                                    <span class="icon"><span class="fas fa-bolt"></span></span>
                                    <span class="has-spectators">
                                        <span class="raid">RAID</span>
                                        <span class="spectators">{{ store.preview_streamer.live_spectators }} spectateurs</span>
                                    </span>
                                </button>
                            </div>
                        </header>

                        <figure id="js-twitch-preview"></figure>
                    </div>

                    <button class="modal-close is-large" aria-label="close" @click="hidePreview()"></button>
                </div>

                <!-- LIVES AND SCHEDULES SEPARATOR -->

                <div class="divider" v-if="store.live.length > 0 && store.scheduled.length > 0">Mais aussi, bientôt sur
                    Twitch
                </div>

                <!-- SCHEDULES -->

                <div class="columns is-multiline">
                    <div class="column is-half" v-for="stream in store.scheduled" :key="stream.pk">
                        <article class="box scheduled-stream">
                            <figure aria-hidden="true">
                                <a :href="stream.streamer.twitch_url">
                                    <img :src="stream.streamer.profile_image" :alt="stream.streamer.name"/>
                                </a>
                            </figure>

                            <a :href="stream.streamer.twitch_url" class="stream-box-content">
                                <h3>{{ stream.title }}</h3>
                                <div class="game">
                                    <figure class="streamer-picture-mobile">
                                        <img :src="stream.streamer.profile_image" :alt="stream.streamer.name"/>
                                    </figure>

                                    <span class="streamer-name">{{ stream.streamer.name }}</span>
                                    <span class="streamer-game" v-if="stream.category">&centerdot;&nbsp;{{ stream.category }}</span>
                                </div>

                                <footer>
                                    <time :datetime="stream.start">
                                        <span v-if="stream.now">Prévu {{ relativeTime(stream.start) }},</span>
                                        <span v-else>{{ capitalize(relativeTime(stream.start)) }},</span>
                                        à {{ shortTime(stream.start) }}
                                    </time>
                                    <span class="fab fa-twitch"></span>
                                </footer>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </section>

    <section class="section all-streamers">
        <div class="container">
            <div class="columns is-multiline is-8">

                {% for streamer in streamers %}
                    <div class="column is-half">
                        <article class="streamer">
                            <header>
                                <figure>
                                    <a href="{{ streamer.twitch_url }}">
                                        <img src="{{ MEDIA_URL }}{{ streamer.profile_image }}"
                                             alt="{{ streamer.name }}"/>
                                    </a>
                                </figure>
                                <h3><a href="{{ streamer.twitch_url }}">{{ streamer.name }}</a></h3>
                            </header>

                            <ul class="streamers-network">
                                <li><a href="#"><span class="fab fa-twitch"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            </ul>

                            <p>{{ streamer.description }}</p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
