{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <section class="hero is-medium is-primary">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    POGSCIENCE
                </p>
                <p class="subtitle">
                    le pog kilébi1 et qui n'arrache pas du tout les yeux avec cette
                    couleur agressive sérieux faudra vraiment reprendre ça avec le
                    graphiste en plus c'est la rentrée étou là y'a moyen de faire
                    des trucs ça va être bien bref<br/>
                    en plus on pourra mettre une sorte de réseau avec tous les
                    streamers affiché dynamiquement ça va être beau allez là<br/>
                    vous connaissez pogscience ?
                </p>
            </div>
        </div>
    </section>

    {# if il y a ou des streamers en live ou des événements à venir #}
    {# S'il n'y a personne en live et rien à venir, inutile d'afficher quoique ce soit #}
    <section class="section right-now">
        <div class="container" id="js-home-live-and-upcoming" data-content-url="{% url "streamers:home-part-live-upcoming" %}">
            <div class="is-loading">
                <div class="is-loader"></div>
                <div>{% trans "Chargement…" %}</div>
            </div>
        </div>
    </section>
{% endblock %}
