{% load i18n %}

<article class="box live-stream{% if solo %} is-solo{% endif %}">
    <figure>
        <a href="{{ streamer.twitch_url }}">
            <img src="{{ MEDIA_URL }}{{ streamer.profile_image }}" alt="{{ streamer.name }}" />
        </a>
    </figure>

    <a href="{{ streamer.twitch_url }}" class="stream-box-content">
        <h3>{{ streamer.live_title }}</h3>
        <div class="game">
            <figure class="streamer-picture-mobile">
                <img src="{{ MEDIA_URL }}{{ streamer.profile_image }}" alt="{{ streamer.name }}" />
            </figure>
            <span class="streamer-name">{{ streamer.name }}</span>
            {% if streamer.live_game_name %}<span class="streamer-game">&centerdot;&nbsp;{{ streamer.live_game_name }}</span>{% endif %}
        </div>
        {% if not hide_spectators and streamer.live_spectators %}
            <div class="game">{% blocktrans count count=streamer.live_spectators %}{{ count }} spectateur{% plural %}{{ count }} spectateurs{% endblocktrans %}</div>
        {% endif %}

        <footer>
            {% if streamer.live %}
                <time datetime="{% now "c" %}">
                    <span class="tag is-danger">EN DIRECT</span>
                    {% if streamer.live_end %}jusqu'à {{ streamer.live_end|date:"H\hi" }}{% endif %}
                </time>
            {% endif %}
            <button class="button is-twitch is-small" disabled data-tooltip="{% trans "À venir…" %}">
                <span class="icon is-small"><span class="fas fa-bolt"></span></span>
                <span>RAID</span>
            </button>
        </footer>
    </a>

    <div class="stream-box-preview" style="--streamer-colour-1: {{ streamer.colours_hex.0 }}; --streamer-colour-2: {{ streamer.colours_hex.1 }}">
        <figure class="image is-16by9 is-fullwidth">
            <img src="{{ MEDIA_URL }}{{ streamer.live_preview|default:streamer.background_image }}" alt="{% trans "Aperçu du live" %}">
            <button class="button is-twitch is-medium" disabled data-tooltip="{% trans "À venir…" %}">
                <span class="icon"><span class="fas fa-bolt"></span></span>
                <span>RAID</span>
            </button>
        </figure>
    </div>
</article>
