{% load humanize %}

<article class="box scheduled-stream">
    <figure>
        <a href="{{ stream.streamer.twitch_url }}">
            <img src="{{ MEDIA_URL }}{{ stream.streamer.profile_image }}" alt="{{ stream.streamer.name }}" />
        </a>
    </figure>

    <a href="{{ stream.streamer.twitch_url }}" class="stream-box-content">
        <h3>{{ stream.title }}</h3>
        <div class="game">
            <figure class="streamer-picture-mobile">
                <img src="{{ MEDIA_URL }}{{ stream.streamer.profile_image }}" alt="{{ streamer.name }}" />
            </figure>
            <span class="streamer-name">{{ stream.streamer.name }}</span>
            {% if stream.category %}<span class="streamer-game">&nbsp;&centerdot;&nbsp;{{ stream.category }}</span>{% endif %}
        </div>

        <footer>
            <time datetime="2021-07-07T20:00:00+02:00">
                {% if stream.now %}Prévu {{ stream.start|naturaltime }}{% else %}{{ stream.start|naturaltime|capfirst }}{% endif %}, à {{ stream.start|date:"H\hi" }}
            </time>
            <span class="fab fa-twitch"></span>
        </footer>
    </a>
</article>
