{% load i18n %}

{% for streamer in streamers %}
    <div class="column is-half">
        <div class="card admin-streamer">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ streamer.profile_image.url }}" alt="{{ streamer.name }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {{ streamer.name }}
                            {% if streamer.live %}<span class="tag is-danger">LIVE</span>{% endif %}
                        </p>
                        <p class="subtitle is-6"><a href="https://twitch.tv/{{ streamer.twitch_login }}"
                                                    target="_blank">@{{ streamer.twitch_login }}</a></p>
                    </div>
                </div>

                <div class="content">
                    {{ streamer.description }}
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">{% trans "Voir" %}</a>
                <a href="#" class="card-footer-item">{% trans "Modifier" %}</a>
                <a href="#" class="card-footer-item">{% trans "Supprimer" %}</a>
            </footer>
        </div>
    </div>
{% empty %}
    <div class="column is-half is-offset-one-quarter has-text-centered mt-5">
        <p class="title is-4 block">Il n'y a personne d'enregistré…</p>
        {% if perms.streamers.add_streamer %}
            <p class="block">
                Cliquez ci-dessous pour ajouter tout le monde ! Vous pourrez
                ajouter plusieurs personnes d'un coup, et nous récupèrerons
                automatiquement les données de base depuis Twitch.
            </p>
            <button class="button is-primary js-add-streamers block">
                <span class="icon"><span class="fas fa-plus"></span></span>
                <span>Ajouter des streamers <span class="is-hidden-mobile">à PogScience</span></span>
            </button>
        {% else %}
            <p class="block">{% trans "Un⋅e administrateur⋅trice peut ajouter du monde dans PogScience." %}</p>
        {% endif %}
    </div>
{% endfor %}