{% extends "admin_base.html" %}
{% load bulma_tags i18n %}

{% block admin_title %}Streamers
    <span class="tag is-primary is-light is-rounded">{{ streamers|length }}</span>{% endblock %}

{% block admin_title_right %}
    {% if perms.streamers.change_streamer %}
        <div class="level-item">
            <button class="button is-primary is-light js-update-streamers">
                <span class="icon"><span class="fas fa-sync-alt"></span></span>
                <span>Actualiser depuis Twitch</span>
            </button>
        </div>
    {% endif %}
    {% if perms.streamers.add_streamer %}
        <div class="level-item">
            <button class="button is-primary is-light js-add-streamers">
                <span class="icon"><span class="fas fa-plus"></span></span>
                <span>Ajouter des streamers</span>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div class="columns is-multiline" id="js-streamers-list">
        {% include "streamers/list.partial.html" %}
    </div>

    {% if perms.streamers.add_streamer %}
        <div class="modal" id="js-add-streamers-modale">
            <div class="modal-background"></div>
            <div class="modal-card">
                <form action="" method="POST" id="js-add-streamers-form">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{% trans "Ajouter des streamers à PogScience" %}</p>
                    </header>
                    <section class="modal-card-body">
                        <p class="block">
                            {% blocktrans %}
                                Ajoutez des streamers en entrant un pseudo Twitch par ligne dans le
                                champ ci-dessous. Nous récupèrerons les informations de base sur chacun⋅e
                                automatiquement.
                            {% endblocktrans %}
                        </p>
                        {% csrf_token %}
                        {{ add_streamers_form|bulma_inline }}
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-primary" type="submit">{% trans "Ajouter les streamers" %}</button>
                        <button class="button is-text modal-close-handler">{% trans "Annuler" %}</button>
                    </footer>
                </form>
            </div>
            <button class="modal-close is-large" aria-label="{% trans "Fermer" %}"></button>
        </div>
    {% endif %}
{% endblock %}
