{% load bulma_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% render_bundle 'main' 'css' is_preload=True %}
    {% render_bundle 'main' 'js' is_preload=True %}

    <title>{% block title %}PogScience{% endblock %}</title>

    {% render_bundle 'main' 'css' %}
    {% font_awesome %}
</head>

<body>
{% block body %}
    <nav class="navbar is-link is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{% url "streamers:home" %}" class="navbar-item">POG SCIENCE</a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start"></div>

            <div class="navbar-end">
                {% if request.user.is_anonymous %}
                    {% if twitch.enabled %}
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-link is-light" href="{% url "social:begin" "twitch" %}">
                                    Se connecter avec Twitch
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="navbar-item">{{ request.user.first_name }}</div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary is-light" href="{% url "administration:index" %}">
                                Administration
                            </a>
                            <a class="button is-ghost is-light" href="{% url "logout" %}">
                                Déconnexion
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}

{% render_bundle 'main' 'js' %}
</body>
</html>
