{% load bulma_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="fr">

<head itemscope>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta itemprop="csrfmiddlewaretoken" content="{{ csrf_token }}"/>

    {% render_bundle 'main' 'css' is_preload=True %}
    {% render_bundle 'main' 'js' is_preload=True %}

    <title>{% block title %}PogScience{% endblock %}</title>

    {% render_bundle 'main' 'css' %}
    {% font_awesome %}
</head>

<body>
{% block body %}
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                {% if request.user.is_anonymous %}
                    <a href="{% url "social:begin" "twitch" %}">
                        Se connecter avec Twitch
                    </a>
                {% else %}
                    {{ request.user.first_name }} &centerdot;
                    <a href="{% url "administration:index" %}">
                        Administration
                    </a> &centerdot;
                    <a href="{% url "logout" %}">
                        Déconnexion
                    </a>
                {% endif %}
            </p>
        </div>
    </footer>
{% endblock %}

{% render_bundle 'main' 'js' %}
{% block js %}{% endblock %}
</body>
</html>
